# Experiment: Explore Water Management Strategies

Water Management is a complex topic. It involves many different actors, from the government to the private sector, and many different strategies, from water pricing to water reuse. In this experiment, we will explore the different strategies that countries have adopted to manage their water resources.

Especially, Waste Water Treatment and Reuse are important topics.

In [8]:
from src.aquastat_utils import get_aquastat

# Import AQUASTAT
aquastat_df = get_aquastat()

Getting AQUASTAT dataframe from /Users/josef/Sync/Dokumente/SCHULE/Master/UT/Vorlesungen/Sem2/Data_Literacy/Paper/src/../dat/fao_aquastat.csv ...
/Users/josef/Sync/Dokumente/SCHULE/Master/UT/Vorlesungen/Sem2/Data_Literacy/Paper/src/../dat/fao_aquastat.csv already exists.

In [9]:
# Filter interesting variables
filter_for = ['waste', 'reuse', 'treatment']

filtered_columns = [column for column in aquastat_df.columns if any([x in column.lower() for x in filter_for])]
filtered_columns

['% of area equipped for irrigation by direct use of  treated municipal wastewater',
 '% of area equipped for irrigation by direct use of non-treated municipal wastewater',
 'Area equipped for irrigation by direct use of non-treated municipal wastewater ',
 'Area equipped for irrigation by direct use of not treated municipal wastewater',
 'Area equipped for irrigation by direct use of treated municipal wastewater',
 'Capacity of the municipal wastewater treatment facilities',
 'Collected municipal wastewater',
 'Direct use of not treated municipal wastewater for irrigation purposes',
 'Direct use of treated municipal wastewater',
 'Direct use of treated municipal wastewater for irrigation purposes',
 'Not treated municipal wastewater',
 'Not treated municipal wastewater discharged (secondary water)',
 'Number of municipal wastewater treatment facilities',
 'Produced municipal wastewater',
 'Treated municipal wastewater',
 'Treated municipal wastewater discharged (secondary water)']

We know have a list of variables related to waste water and treatment. Let's explore them.

In [33]:
# Get for each country the number of municipal wastewater treatment facilities

# Create a new dataframe with only the columns we are interested in
countries = aquastat_df['Country'].unique()
interesting_var = 'Number of municipal wastewater treatment facilities'

waste_df = aquastat_df[['Country', 'Year', interesting_var]]
waste_df = waste_df.dropna()  # Drop rows with missing values
waste_df = waste_df.set_index('Country')  # Set the country as index
waste_df = waste_df.sort_values(by=interesting_var, ascending=False)  # Sort by number of facilities
waste_df

Variable,Year,Number of municipal wastewater treatment facilities
Country,,
United States of America,2004,16583.0
United States of America,2003,16501.0
United States of America,2002,16419.0
United States of America,2001,16337.0
United States of America,2000,16255.0
...,...,...
Turkmenistan,2015,1.0
Turkmenistan,2016,1.0
Turkmenistan,2017,1.0
Turkmenistan,2018,1.0
Albania,2005,1.0

# TODOS

- Plot the development of the number of facilities over time
- Plot the number of facilities per capita
- [HydroWASTE](https://www.hydrosheds.org/products/hydrowaste):
    - Download the data
    - Explore the data:
        - A nice map of the world
        - The more facilities, the more water is treated?
            - Plot the number of facilities against the water withdrawal
            - What about the countries that face water scarcity?
                - Plot the number of facilities against the water scarcity: facility / water scarcity -> should be normalized by water stress (water scarcity / water availability)